
# The variable BASE_DIR is the directory in which the main script is located.

# Directory in which the sysroot should be installed
SYSROOT_DIR="${BASE_DIR}/../sysroot"

# Directory in which the downloads are to be loaded
DOWNLOAD_DIR="${BASE_DIR}/../../cross-sysroot-downloads"

# Directory where the toolchain is located (exclude bin directory)
TOOLCHAIN_DIR="/usr/local/linaro/arm-linux-gnueabihf"

# Target architecture
TARGET="arm-linux-gnueabihf"

# Target Board
# softfloat:  Default soft float boarde
# hardfloat:  Default hard float boarde 
# raspi:      Raspberry PI
# beaglebone: BeagleBone / Beglebone black
#
BORAD="beaglebone"
