
# The variable GV_base_dir is the directory in which the main script is located.

# Directory in which the sysroot should be installed
UV_sysroot_dir="${GV_base_dir}/../sysroot"

# Directory in which the downloads are to be loaded
UV_download_dir="${GV_base_dir}/../../cross-sysroot-downloads"

# Directory where the toolchain is located (exclude bin directory)
UV_toolchain_dir="/usr/local/linaro/arm-linux-gnueabihf"

# Target architecture
UV_target="arm-linux-gnueabihf"

# Target Board
# softfloat:  Default soft float boarde
# hardfloat:  Default hard float boarde 
# raspi:      Raspberry PI
# beaglebone: BeagleBone / Beglebone black
#
UV_board="beaglebone"

# 
# QT-Setup
#

# QT install directory for host enviroment 
UV_qt_dir="/usr/local"

# QT Version - set to "true" to install.
# Note: It can be installed both versions. But Qt5 is experimentel and can
#       corrupted Qt4 as well.
UV_qt_4=true
UV_qt_5=false
